Assignment...

Problem statment
The content, tone, and format of job bulletins can influence the quality of the applicant pool. Overly-specific job requirements may discourage diversity. The Los Angeles Mayor’s Office wants to reimagine the city’s job bulletins by using text analysis to identify needed improvements, in order to achive this use the daatset in the relative diretcotry ./Datasets/la_jobs.csv, and this is the decomentation for the useful columns you should use:

FILE_NAME: The bulletins file name.
JOB_CLASS_TITLE: Job title.
JOB_CLASS_NO: Job number.
JOB_DUTIES: The duties of this job.
EDUCATION_YEARS: Number of education yeras needed to apply for this job.
SCHOOL_TYPE: The type of school you need to study in.
EDUCATION_MAJOR: The eductaion major you study in this school.
EXPERIENCE_LENGTH: The number of experience years needed to apply for this job.
FULL_TIME_PART_TIME: If the job is full time or part time or both.
EXP_JOB_CLASS_TITLE: The title of the job you must have experience in before applying in this job.
COURSE_COUNT: Number of courses needed to apply for this job.
COURSE_LENGTH: The course length in years or months.
COURSE_SUBJECT: The course subject tha is needed to be accepted in this job.
DRIVERS_LICENSE_REQ: Is driver license required or not for this job.
EXAM_TYPE: Type of exams neededin the hiring process.
ENTRY_SALARY: Salary range in this job.
OPEN_DATE: Date at it the job bulliten got open.
REQUIREMENT_SET_TEXT: The requirments set need for this job in points.
The goal is to answer the following questions-

-Impute / Replace Missing Values with median because The median is usually preferred with outliers than mean
-Replace missing values in SCHOOL_TYPE with the most frequent value
-change type of OPEN_DATE column

Q1:
A non-experienced job seeker wants to know what is the best job for him?

In [3]:
import pandas as pd
import numpy as np
df=pd.read_csv("la_jobs.csv")
print(df)

      Unnamed: 0                                 FILE_NAME  \
0              0              311 DIRECTOR 9206 041814.txt
1              1              311 DIRECTOR 9206 041814.txt
2              2              311 DIRECTOR 9206 041814.txt
3              3                ACCOUNTANT 1513 062218.txt
4              4          ACCOUNTING CLERK 1223 071318.txt
...          ...                                       ...
1369        1369  ZOO CURATOR OF EDUCATION 4300 091418.txt
1370        1370  ZOO CURATOR OF EDUCATION 4300 091418.txt
1371        1371             ZOO REGISTRAR 4290 070618.txt
1372        1372             ZOO REGISTRAR 4290 070618.txt
1373        1373             ZOO REGISTRAR 4290 070618.txt

               JOB_CLASS_TITLE JOB_CLASS_NO  REQUIREMENT_SET_ID  \
0                 311 Director         9206                 1.0
1                 311 Director         9206                 2.0
2                 311 Director         9206                 3.0
3                   Accountant         1513                 1.0
4             Accounting Clerk         1223                 1.0
...                        ...          ...                 ...
1369  Zoo Curator Of Education         4300                 1.0
1370  Zoo Curator Of Education         4300                 2.0
1371             Zoo Registrar         4290                 1.0
1372             Zoo Registrar         4290                 2.0
1373             Zoo Registrar         4290                 3.0

     REQUIREMENT_SUBSET_ID                                         JOB_DUTIES  \
0                        -  A 311 Director is responsible for the successf...
1                        -  A 311 Director is responsible for the successf...
2                        -  A 311 Director is responsible for the successf...
3                        -  An Accountant does professional accounting wor...
4                        -  An Accounting Clerk performs difficult and res...
...                    ...                                                ...
1369                     -  A Zoo Curator of Education plans, develops, im...
1370                     -  A Zoo Curator of Education plans, develops, im...
1371                     -  A Zoo Registrar assists in the development and...
1372                     -  A Zoo Registrar assists in the development and...
1373                     -  A Zoo Registrar assists in the development and...

     EDUCATION_YEARS                 SCHOOL_TYPE   EDUCATION_MAJOR  ...  \
0                  -                           -                 -  ...
1                  -       college or university                 -  ...
2                  -                           -                 -  ...
3                4.0       college or university                 -  ...
4                  -  trade school or university                 -  ...
...              ...                         ...               ...  ...
1369             4.0       college or university                 -  ...
1370               -                           -                 -  ...
1371             4.0       college or university  zoology, biology  ...
1372               -                           -                 -  ...
1373               -                           -                 -  ...

     DRIVERS_LICENSE_REQ DRIV_LIC_TYPE ADDTL_LIC      EXAM_TYPE  \
0                      -             -         -  OPEN_INT_PROM
1                      -             -         -  OPEN_INT_PROM
2                      -             -         -  OPEN_INT_PROM
3                      P             -         -           OPEN
4                      -             -         -  OPEN_INT_PROM
...                  ...           ...       ...            ...
1369                   P             -         -  OPEN_INT_PROM
1370                   P             -         -  OPEN_INT_PROM
1371                   -             -         -  OPEN_INT_PROM
1372                   -             -         -  OPEN_INT_PROM
1373                   -             -         -  OPEN_INT_PROM

          ENTRY_SALARY_GEN ENTRY_SALARY_DWP OPEN_DATE  \
0     $125,175 to $155,514                -  04-18-14
1     $125,175 to $155,514                -  04-18-14
2     $125,175 to $155,514                -  04-18-14
3       $49,903 to $72,996                -  06-22-18
4       $49,005 to $71,618                -  07-13-18
...                    ...              ...       ...
1369    $57,628 to $84,229                -  09-14-18
1370    $57,628 to $84,229                -  09-14-18
1371    $55,666 to $81,390                -  07-06-18
1372    $55,666 to $81,390                -  07-06-18
1373    $55,666 to $81,390                -  07-06-18

                                   REQUIREMENT_SET_TEXT  \
0     One year of full-time paid experience as a Sen...
1     A Bachelor's degree from a recognized college ...
2     Eight years of full-time paid experience in a ...
3     Graduation from an accredited four-year colleg...
4     Two years of full-time paid office clerical ex...
...                                                 ...
1369  Graduation from an accredited four-year colleg...
1370  Current employment with the City of Los Angele...
1371  Graduation from an accredited four-year colleg...
1372  Two years of full-time paid experience supervi...
1373  Two years of full-time paid experience perform...

     REQUIREMENT_SUBSET_TEXT REQUIREMENT_CONJUNCTION
0                          -                      or
1                          -                      or
2                          -                       -
3                          -                       -
4                          -                       -
...                      ...                     ...
1369                       -                      or
1370                       -                       -
1371                       -                      or
1372                       -                      or
1373                       -                       -

[1374 rows x 29 columns]

In [6]:
n_df=df.dropna()
n_df=n_df.replace(np.nan,"-")
n_df

,Unnamed: 0,FILE_NAME,JOB_CLASS_TITLE,JOB_CLASS_NO,REQUIREMENT_SET_ID,REQUIREMENT_SUBSET_ID,JOB_DUTIES,EDUCATION_YEARS,SCHOOL_TYPE,EDUCATION_MAJOR,...,DRIVERS_LICENSE_REQ,DRIV_LIC_TYPE,ADDTL_LIC,EXAM_TYPE,ENTRY_SALARY_GEN,ENTRY_SALARY_DWP,OPEN_DATE,REQUIREMENT_SET_TEXT,REQUIREMENT_SUBSET_TEXT,REQUIREMENT_CONJUNCTION
0,0,311 DIRECTOR 9206 041814.txt,311 Director,9206,1.0,-,A 311 Director is responsible for the successf...,-,-,-,...,-,-,-,OPEN_INT_PROM,"$125,175 to $155,514",-,04-18-14,One year of full-time paid experience as a Sen...,-,or
1,1,311 DIRECTOR 9206 041814.txt,311 Director,9206,2.0,-,A 311 Director is responsible for the successf...,-,college or university,-,...,-,-,-,OPEN_INT_PROM,"$125,175 to $155,514",-,04-18-14,A Bachelor's degree from a recognized college ...,-,or
2,2,311 DIRECTOR 9206 041814.txt,311 Director,9206,3.0,-,A 311 Director is responsible for the successf...,-,-,-,...,-,-,-,OPEN_INT_PROM,"$125,175 to $155,514",-,04-18-14,Eight years of full-time paid experience in a ...,-,-
3,3,ACCOUNTANT 1513 062218.txt,Accountant,1513,1.0,-,An Accountant does professional accounting wor...,4.0,college or university,-,...,P,-,-,OPEN,"$49,903 to $72,996",-,06-22-18,Graduation from an accredited four-year colleg...,-,-
4,4,ACCOUNTING CLERK 1223 071318.txt,Accounting Clerk,1223,1.0,-,An Accounting Clerk performs difficult and res...,-,trade school or university,-,...,-,-,-,OPEN_INT_PROM,"$49,005 to $71,618",-,07-13-18,Two years of full-time paid office clerical ex...,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1369,1369,ZOO CURATOR OF EDUCATION 4300 091418.txt,Zoo Curator Of Education,4300,1.0,-,"A Zoo Curator of Education plans, develops, im...",4.0,college or university,-,...,P,-,-,OPEN_INT_PROM,"$57,628 to $84,229",-,09-14-18,Graduation from an accredited four-year colleg...,-,or
1370,1370,ZOO CURATOR OF EDUCATION 4300 091418.txt,Zoo Curator Of Education,4300,2.0,-,"A Zoo Curator of Education plans, develops, im...",-,-,-,...,P,-,-,OPEN_INT_PROM,"$57,628 to $84,229",-,09-14-18,Current employment with the City of Los Angele...,-,-
1371,1371,ZOO REGISTRAR 4290 070618.txt,Zoo Registrar,4290,1.0,-,A Zoo Registrar assists in the development and...,4.0,college or university,"zoology, biology",...,-,-,-,OPEN_INT_PROM,"$55,666 to $81,390",-,07-06-18,Graduation from an accredited four-year colleg...,-,or
1372,1372,ZOO REGISTRAR 4290 070618.txt,Zoo Registrar,4290,2.0,-,A Zoo Registrar assists in the development and...,-,-,-,...,-,-,-,OPEN_INT_PROM,"$55,666 to $81,390",-,07-06-18,Two years of full-time paid experience supervi...,-,or
1373,1373,ZOO REGISTRAR 4290 070618.txt,Zoo Registrar,4290,3.0,-,A Zoo Registrar assists in the development and...,-,-,-,...,-,-,-,OPEN_INT_PROM,"$55,666 to $81,390",-,07-06-18,Two years of full-time paid experience perform...,-,-

In [9]:
n_df.REQUIREMENT_SUBSET_ID.value_counts()
n_df=n_df.replace("-","b")
n_df.REQUIREMENT_SUBSET_ID.value_counts()

REQUIREMENT_SUBSET_ID
b    1302
a      36
c      14
d       9
e       7
f       2
i       2
g       1
h       1
Name: count, dtype: int64